<div class="callout">
<h2>Redaguoti profilį <%# resource_name.to_s.humanize %></h2>
<%= link_to 'Redaguoti nuotraukas', new_user_photo_path(current_user), class: 'large button' %>
<%= form_for(
  resource,
  as: resource_name,
  url: registration_path(resource_name)
  ) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, 'El. paštas' %>
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :name, 'Vardas' %>
    <%= f.text_field :name %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, 'Slaptažodis' %> <i>palik tuščią, jei nekeisi</i>
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Slaptažodžio patvirtinimas' %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(keičiant duomenis, turi suvesti slaptažodį)</i>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Ištrinti naudotoją?</h3>

<p>Trinti? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>