<div class="callout">
<h2>Registruotis</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, multipart: true}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, 'El. paštas' %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :name, 'Vardas' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password, 'Slaptažodis' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Slaptažodžio partvirtinimas' %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Registruotis", class: :button %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
