<div class="orbit" role="region" aria-label="Articles" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <% articles.each_with_index do |article, index| %>
      <li class="<%= 'is_active' if index == 0 %> orbit-slide">
      <div class="callout">
        <div class="media-object">
        <% if article.photos.present? %>
          <div class="media-object-section">
            <div class="thumbnail">
              <%= image_tag article.photos.first.image.url(:thumb) %>
            </div>
          </div>
        <% end %>  
          <div class="media-object-section">
            <p><strong><%= link_to article.title, article_path(article) %></strong><br>     
            <%= article.body.shorten(50) %><br>
            <small><%= link_to 'Daugiau', article_path(article) %></small></p>
          </div>
        </div>
        </div>
      </li>      
    <% end %>
  </ul>
  <nav class="orbit-bullets">
    <% articles.each_with_index do |article, index| %>
      <% if index == 0 %>
        <button class="is_active" data-slide="<%= index %>">
          <span class="show-for-sr"><%= index %><%= index %>slide details.</span>
          <span class="show-for-sr">Current Slide</span>
        </button>
      <% else %>
        <button data-slide="<%= index %>">
          <span class="show-for-sr"><%= index %> slide details.</span>
        </button>
      <% end %>
    <% end %>
  </nav>
</div>