<%= form_for(Article.new) do |f| %>
<p>[1/2] Parašykite, ką nors</p>
  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <%= hidden_field_tag :article_type, article_type %>
  <% if param[:trip_route_id].present? and param[:trip_route_id] > 0 %>
    <%= hidden_field_tag :trip_route_id, param[:trip_route_id] %>
  <% end %>
  <%= link_to 'Skelbti', '#', class: 'small button', id: :new_article_submit_btn %>
<% end %>