<div class="callout">
<p><%= link_to 'Pridėti įrašą', 'javascript:;', class: :button, data: {open: :new_article_reveal} %></p>
  <div class="reveal" id="new_article_reveal" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <br>
    <%= render 'articles/partials/form', article_type: article_type, param: param %>
  </div>
</div>
