<ul class="accordion"
  data-accordion
  data-allow-all-closed="true">
  <li class="accordion-item"
    data-accordion-item>
    <%= link_to 'Kelionės maršrutas', '#', class: 'accordion-title' %>
    <div class="accordion-content" data-tab-content>
      <ul class="list-group"
        id="route-plan-list">
        <% unless @trip_route.places.blank? %>
          <% @trip_route.places.each do |route_place| %>
            <li class="list-group-item place__info route-plan-item"
              data-place-name="<%= route_place.name %>"
              data-place-id="<%= route_place.id %>"
              data-place-type-id="<%= route_place.place_type.id %>"
              data-place-position-lat="<%= route_place.latitude %>"
              data-place-position-lng="<%= route_place.longitude %>">
              <div class="row">
                <div class="small-2 columns plan-item-handler">
                  <%= link_to '#' do %>
                    <span><i class="fi-paw medium"></i></span>
                  <% end %>
                </div>
                <div class="small-8 columns place-name">
                  <%= route_place.name %>
                </div>
                <div class="small-2 columns plan-item-remove">
                  <button data-behaviour="remove-selected-place"><i class="fi-x small"></i></button>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </li>
  <% @place_types.each do |place_type| %>
    <% all_places = place_type.places_not_associated_with_route(@trip_route) %>
    <% unless all_places.blank? %>
      <li class="accordion-item place-type"
        data-place-type-id="<%= place_type.id %>"
        data-accordion-item>
        <%= link_to place_type.name.capitalize, '#', class: 'accordion-title' %>
        <div class="accordion-content place-type-content" data-tab-content>
          <div class="row place-type-places">
            <% all_places.each do |place| %>
              <div class="small-6 columns place-info"
                data-place-name="<%= place.name %>"
                data-place-id="<%= place.id %>"
                data-place-type-id="<%= place_type.id %>"
                data-place-position-lat="<%= place.latitude %>"
                data-place-position-lng="<%= place.longitude %>">
                <div class="card">
                  <div class="card-section">
                    <div class="row columns">
                      <%= place.name.split(' ')[0] %>
                    </div>
                    <div class="row">
                      <div class="columns">
                        <%= button_tag data: { behaviour: :add__place } do %>
                          <i class="fi-check"></i>
                        <% end %>
                      </div>
                      <!-- <div class="columns">
                        <% button_tag do %>
                          <i class="fi-x"></i>
                        <% end %>
                      </div>
                      <div class="columns">
                        <% button_tag do %>
                          <i class="fi-list"></i>
                        <% end %>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>