<% editable = editable.present? ? editable : false %>
<div class="card">
  <div class="card-divider">
    <%= link_to trip_route.name, trip_route_path(trip_route) %>
  </div>
  <% if trip_route.photos.present? %>
    <div class="owl-carousel trip-route-gallery">
      <% trip_route.photos.each do |photo| %>
        <div class="item">
          <%= image_tag photo.image.url(:medium) %>
        </div>
      <% end %>
    </div>        
  <% end %>
  <div class="card-section">
    <div class="row">
      <div class="small-6 columns">
        <i class="fi-foot medium"></i>&nbsp;
        <span><%= trip_route.distance %>&nbsp;km</span>
      </div>
      <div class="small-6 columns">
        <i class="fi-clock medium"></i>&nbsp;
        <span><%= trip_route.duration %>&nbsp;min</span>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <i class="fi-mountains medium"></i>&nbsp;
        <span><%= trip_route.places.count %></span>
      </div>
      <div class="small-6 columns">       
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
      <% unless editable %>
        <%= link_to trip_route_path(trip_route), class: :button do %>
          Plačiau
        <% end %>
        <% else %>
        <%= link_to edit_trip_route_path(trip_route), class: :button do %>
          Redaguoti
        <% end %>
      <% end %>
      </div>
      <div class="small-6 columns">
        <%= link_to take_trip_path(trip_route), class: :button do %>
          Keliauti
        <% end %>
      </div>
    </div>
    <p><small>Sukurtas: <%= trip_route.user.name %></small></p>    
  </div>
</div>