<div class="callout is-hidden" id="form-callout" data-toggler="is-hidden">
<%= form_tag search_trip_routes_path, method: :get do %>
<%= label_tag 'Pavadinimas' %>
<%= text_field_tag :title_includes, '' %>

<div class="row">
  <div class="small-12 medium-4 columns">
    <%= label_tag 'Vietų skaičius' %>
    <div class="row">
      <div class="small-6 columns">
        <%= text_field_tag 'places_count[min_count]', params['places_count[min_count]'], type: :number, id: 'places-count-min' %>
      </div>
      <div class="small-6 columns">
        <%= text_field_tag 'places_count[max_count]', params['places_count[max_count]'], type: :number, id: 'places-count-max' %>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <div class="slider" data-slider  data-start="0" data-initial-start="1" data-initial-end="25" data-end="25">
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="places-count-min"></span>
          <span class="slider-fill" data-slider-fill></span>
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="places-count-max"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-4 columns">
    <%= label_tag 'Maršruto ilgis (km)' %>
    <div class="row">
      <div class="small-6 columns">
        <%= text_field_tag 'distance_length[min_distance]', params['distance_length[min_distance]'], type: :number, id: 'distance-min' %>
      </div>
      <div class="small-6 columns">
        <%= text_field_tag 'distance_length[max_distance]', params['distance_length[max_distance]'], type: :number, id: 'distance-max' %>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <div class="slider" data-slider  data-start="0" data-initial-start="1" data-initial-end="1500" data-end="1500">
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="distance-min"></span>
          <span class="slider-fill" data-slider-fill></span>
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="distance-max"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-4 columns">
  <%= label_tag 'Maršruto trukmė (min)' %>
    <div class="row">
      <div class="small-6 columns">
        <%= text_field_tag 'duration_length[min_duration]', params['duration_length[min_duration]'], type: :number, id: 'duration-min' %>
      </div>
      <div class="small-6 columns">
        <%= text_field_tag 'duration_length[max_duration]', params['duration_length[max_duration]'], type: :number, id: 'duration-max' %>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <div class="slider" data-slider data-start="0" data-initial-start="1" data-initial-end="2000" data-end="2000">
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="duration-min"></span>
          <span class="slider-fill" data-slider-fill></span>
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="duration-max"></span>
        </div>
      </div>
    </div>
  </div>
</div>
  <%= link_to 'Rodyti visus', trip_routes_path, class: :button %>
  <%= submit_tag 'Ieškoti', class: :button %>
<% end %>
</div>

<p><a data-toggle="form-callout" class="button">Paieška</a></p>