<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
<% unless completed %>
  <% unless visited %>
    <p>Žymėti kaip aplankytą?</p>
  <% else %>
    <p>Žymėti kaip neaplankytą?</p>
  <% end %>
  <%= link_to('Taip',
              update_trip_places_path,
              class: 'small button',
              data: {
                  'behaviour': 'update-trip-places',
                  'place-id': place.id,
                  'place-visited': visited,
                  'selected-route-id': selected_route_id
              }
      ) %>
  <% else %>
  <p>Sveikinam įveikus maršrutą</p>
  <%= link_to('Grįžti į pagrindinį puslapį',
            root_path,
            class: 'small button'
           ) %>   
<% end %>
