<div class="row columns">
  <div class="callout">
    <br><div class="row">
      <div class="small-12 medium-6"><h3>Maršrutai</h3></div>
      <div class="small-12 medium-3"><%= link_to 'Mano maršrutai', user_routes_path, class: 'small button' %></div>
      <div class="small-12 medium-3"><%= link_to 'Pridėti maršrutą', new_trip_route_path, class: 'small button' %></div>
    </div>

    <% unless @trip_routes.empty? %>
    <div class="callout">
      <div class="row columns">
        <%= render 'trip_routes/partials/search_form' %>
      </div>

      <div class="row">
        <% @trip_routes.each do |trip_route| %>
          <div class="small-8 small-offset-2 medium-offset-0 large-offset-0  medium-4 large-3">
            <%= render 'trip_routes/partials/route_card', trip_route: trip_route %>
          </div>
        <% end %>
      </div>
    </div>
    <% else %>
      <h4>Nėra sukurtų maršrutų</h4>
    <% end %>    
  </div>
</div>
