<div class="orbit" role="region" aria-label="Trip Routes" data-orbit data-timer-delay="5000">
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <% trip_routes.each_with_index do |trip_route, index| %>
      <li class="<%= 'is_active' if index == 0 %> orbit-slide">
      <div class="callout">
        <div class="row">
          <div class="small-12 column align-self-middle text-center">
            <h3><%= trip_route.name %></h3>
            <% if trip_route.photos.present? %>
              <div class="middle">
                <div class="owl-carousel trip-route-main-photos">
                  <% trip_route.photos.each do |photo| %>
                    <div class="item thumbnail">
                      <%= image_tag photo.image.url(:panoram) %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        </div>
      </li>      
    <% end %>
  </ul>
  <nav class="orbit-bullets">
    <% trip_routes.each_with_index do |trip_route, index| %>
      <% if index == 0 %>
        <button class="is_active" data-slide="<%= index %>">
          <span class="show-for-sr"><%= index %><%= index %>slide details.</span>
          <span class="show-for-sr">Current Slide</span>
        </button>
      <% else %>
        <button data-slide="<%= index %>">
          <span class="show-for-sr"><%= index %> slide details.</span>
        </button>
      <% end %>
    <% end %>
  </nav>
</div>
