<p>
  <a data-open="place-modal<%= place.id %>" data-turbolinks="false" class="small button">
    <% unless visited %>
        <i class="fi-check"></i>
    <% else %>
        <i class="fi-x"></i>
    <% end %>
  </a>
</p>