<div class="callout small text-left">
  <p><%= comment.body %></p>
  <h5><small><%= link_to "#{comment.created_at.strftime("%R %D")} - #{comment.user.name}", user_path(comment.user) %></small></h5>
</div>