<div class="callout">
<div class="row">
  <div class="small-12 column align-self-middle text-center">
    <h3><%= article.title %><small><%= article.updated_at.strftime('%R %D') %></small></h3>
      <% if article.photos.present? %>
        <div class="media-object-section middle">
        <div class="owl-carousel article-photos">
          <% article.photos.each do |photo| %>
            <div class="item">
              <%= image_tag photo.image.url(:panoram) %>
            </div>
          <% end %>
        </div>
        </div>
      <% end %>
    <p><%= article.body %></p>
    <div class="callout">
      <ul class="menu simple">
        <li><%= link_to 'Daugiau', article_path(article) %></li>
        <li><%= link_to "Autorius: #{article.user.name}", '#' %></li>
        <li><%= link_to "Komentarai: #{article.comments.count}", '#' %></li>
      </ul>
    </div>
  </div>
</div>
</div>
