<div class="row">
  <div class="small-12 columns">
    <div data-behaviour="new__post">
      <%= render 'articles/partials/new_article', article: @article, article_type: ArticleType::SIMPLE, param: {} %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
<div class="callout">
  <div data-behaviour="articles-list">
    <% @articles.each_with_index do |article, index| %>
      <%= render article %>    
    <% end %>
  </div>
</div>
</div>
</div>
