<div class="callout">
  <div class="row">
    <div class="small-12 column align-self-middle text-center">
      <h3><%= @article.title %></h3><h5><small><%= @article.updated_at.strftime('%R %D') %></small></h5>
        <% if @article.photos.present? %>
          div.row.>columns
          <div class="middle">
            <div class="owl-carousel article-photos">
              <% @article.photos.each do |photo| %>
                <div class="item">
                  <%= image_tag photo.image.url(:panoram) %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <p><%= @article.body %></p>
      <hr>
      <h5 class="text-left"><small>Komentarai:</small></h5>
      <div id="article-comments">
      <% unless @article.comments.empty? %>
        <% @article.comments.reverse.each do |comment| %>
          <%= render partial: 'comments/partials/comment', locals: {comment: comment} %>
        <% end %>
      <% end %>
        <%= form_for [current_user, @article, Comment.new], data: {'article-id': @article.id} do |f| %>
          <%= f.text_field :body, placeholder: 'Tavo komentaras' %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
