<%= form_for(
  ArticlePhoto.new,
  html: {
    multipart: true,
    class: "add_article_photos"
  }
) do |f|  %>
  <div class="fallback">
    <%= f.file_field :image %><br>
    <%= f.submit "Upload my Avatar" %>
  </div>
<% end %>
