<div class="columns row">
  <div class="callout">
  <div class="row">
    <div class="small-12 medium-8 columns"><h3><%= @place.name %></h3></div>
    <div class="small-12 medium-4 columns"><small><%= link_to 'Visos vietos', places_path, class: :button %></small></div>
  </div>  
  <% if @place.photos.present? %>
    <div class="row">
      <% @place.photos.each do |photo| %>
        <div class="small-12 medium-4 large-3 columns" data-behaviour="photo-wrapper">
          <%= image_tag photo.image.url(:medium) %>
          <%= link_to 'Pašalinti', 'javascript:;', class: 'small button', data: { behaviour: 'remove-photo', 'photo-id': photo.id } %>
        </div>
      <% end %>
    </div>
  <% end %>

  <br><hr><br>
  <h3>Įkelk nuotraukų<small> (Iki 3 nuotraukų)</small></h3>
  <%= form_for([@place, PlacePhoto.new],
    html: { multipart: true, class: ""},
    data: {behaviour: 'new-photo'}) do |f|  %>
    <div class="fallback">
      <%= f.file_field :image %><br>
      <%= f.submit "Upload" %>
    </div>
  <% end %>
  </div>
</div>