/* line 2, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/chatrooms.scss */
.chatroom__tab ul {
  overflow-y: scroll;
  height: 250px;
}

/* line 8, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/chatrooms.scss */
.chatroom-content {
  min-height: 50vh;
}
/* line 10, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/chatrooms.scss */
.chatroom-content ul {
  overflow-y: scroll;
  height: 45vh;
}

/* line 16, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/chatrooms.scss */
.chatroom-reveal {
  min-height: 50vh;
}
/* line 18, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/chatrooms.scss */
.chatroom-reveal ul {
  overflow-y: scroll;
  height: 45vh;
}
