.chatroom__tab ul{overflow-y:scroll;height:250px}.chatroom-content{min-height:50vh}.chatroom-content ul{overflow-y:scroll;height:45vh}.chatroom-reveal{min-height:50vh}.chatroom-reveal ul{overflow-y:scroll;height:45vh}
