/* line 1, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/places.scss */
#place-map, #place_map {
  height: 330px;
  width: 100%;
  padding-top: 20px;
}

/* line 7, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/places.scss */
#map {
  height: 450px;
  width: 100%;
}

/* line 12, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/places.scss */
.place.thumbnail {
  height: 50px;
}

/* line 17, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/places.scss */
#places__grid .card {
  height: 200px;
}
