/* line 1, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
