/* line 5, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/trip_routes.scss */
[data-behaviour='places__types__selects'] {
  padding-left: 15px;
}

/* line 8, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/trip_routes.scss */
#new_trip_route_map {
  height: 400px;
}

/* line 12, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/trip_routes.scss */
.place-type .place-type-content {
  height: 450px;
  overflow-y: scroll;
}

/* line 17, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/trip_routes.scss */
#route-plan-list {
  height: 450px;
  overflow-y: scroll;
}

/* line 21, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/trip_routes.scss */
.plan-item-handler {
  cursor: pointer;
}
