[data-behaviour='places__types__selects']{padding-left:15px}#new_trip_route_map{height:400px}.place-type .place-type-content{height:450px;overflow-y:scroll}#route-plan-list{height:450px;overflow-y:scroll}.plan-item-handler{cursor:pointer}#show_trip_route_map{height:330px;width:100%;padding-top:20px}
