/* line 1, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/users.scss */
.user-view {
  padding-bottom: 15px;
}
/* line 3, /home/jokubas/work/www/bachaleor/live-on-earth-api/app/assets/stylesheets/users.scss */
.user-view a.log-out {
  text-align: right;
}
