<div class="callout">
<h3>Susirašinėjimai</h3>
<% unless @chatrooms.blank? %>
  <div class="row collapse" style="min-height: 550px;">
  <div class="medium-3 columns">
    <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
    <% current_user.chatrooms.each do |chatroom| %>
      <% is_active = @chatrooms.first.eql?(chatroom) %>
      <li class="tabs-title <%= 'is-active' if is_active %>">
        <a href="#user-chat<%= chatroom.id %>" aria-selected="<%= is_active %>"><%= chatroom.get_title(current_user)  %></a>
      </li>
    <% end %>
    </ul>
  </div>

<div class="medium-6 columns">
  <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
  <% @chatrooms.each do |chatroom| %>
    <% is_active = @chatrooms.first.eql?(chatroom) %>
    <div class="tabs-panel <%= 'is-active' if is_active %>" id="user-chat<%= chatroom.id %>">
      <%= render 'chatrooms/partials/chatroom_content', chatroom: chatroom %>  
    </div>
  <% end %>
  </div>
</div>
</div>
<% else %>
<div class="text-center">
  <h4>Kol kas nėra jokių susirašinėjimų</h4>
  <p><%= link_to 'Peržiūrėk naudotojus', people_path, class: 'large button' %></p>
</div>
<% end %>
</div>