<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
</p>
<div data-behavior="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% if @messages %>
    <% @messages.each do |message| %>
      <%= render message %>
    <% end %>
  <% end %>
</div>
<%= form_for [@chatroom, Message.new], remote: false do |f| %>
  <%= f.text_area :body, row: 1 %>
<% end %>
<%= link_to 'Edit', edit_chatroom_path(@chatroom) %> |
<%= link_to 'Back', chatrooms_path %>
