<%= form_for(
  ArticlePhoto.new,
  html: {
    multipart: true,
    class: "add_article_photos"
  }, remote: true
) do |f|  %>
<p>[2/2] Pridėkite nuotraukų</p>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.hidden_field :article_id %>
  <div class="fallback">
    <%= f.file_field :image %><br>
    <%= f.submit "Upload my Avatar" %>
  </div>
<% end %>
