<% unless @trip_routes.blank? %>
  <div class="callout">
    <div class="row">
      <div class="small-12 columns">
        <h3>Maršrutai 
        <small><%= link_to 'Daugiau', trip_routes_path, class: 'button float-right' %></small></h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-8 middle columns">
        <%= render 'trip_routes/partials/trip_routes_grid', trip_routes: @trip_routes %>
      </div>
    </div>
  </div>
<% end %>

<% unless @places.blank?  %>
  <div class="callout">
    <div class="row">
      <div class="small-12 columns">
        <h3>Lankytinos vietos
        <small><%= link_to 'Daugiau', places_path, class: 'button float-right' %></small></h3>
      </div>
      <div class="small-12 columns">
        <%= render 'places/partials/places_grid', places: @places %>
      </div>
    </div>
  </div>
<% end %>

<% unless @users.blank? %>
    <div class="callout">
      <div class="row">
        <div class="small-12 columns">
          <h3>Naudotojai 
          <small><%= link_to 'Daugiau', people_path, class: 'button float-right' %></small></h3>
        </div>
        <div class="small-12 columns">
          <%= render 'users/partials/users_grid', users: @users %>
        </div>
      </div>
    </div>
<% end %>

<% unless @articles.blank? %>
  <div class="callout">
    <div class="row">
      <div class="small-12 columns">
        <h3>Naujausi įrašai
          <small><%= link_to 'Daugiau', articles_path, class: 'button float-right' %></small>
        </h3>
      </div>
      <div class="small-12 columns">
        <%= render 'articles/partials/articles_list', articles: @articles %>
      </div>
    </div>
  </div>
<% end %>
  