<div class="row columns">
  <div class="callout">
    <% unless current_user.friends.blank? %>
      <h3>Draugai</h3>
      <div class="row">
        <% current_user.friends.each do |user| %>
          <div class="small-8 small-offset-2 medium-offset-0 large-offset-0  medium-4 large-3">
            <%= render 'users/partials/user_card', user: user, main_photo_gallery: false %>
          </div>
        <% end %>
      </div>
    <% else %>
      <h3>Kol kas neturi draugų</h3>
    <% end %>
  </div>
</div>
<div class="row columns">
  <div class="callout">
    <h3>Kiti naudotojai</h3>
    <div class="row">
      <% @users.each do |user| %>
        <div class="small-8 small-offset-2 medium-offset-0 large-offset-0  medium-4 large-3">
          <%= render 'users/partials/user_card', user: user, main_photo_gallery: true %>
        </div>
      <% end %>
    </div>
    <%= paginate @users, class: 'menu' %>
    <% page_entries_info @users %>
  </div>
</div>
