<div class="callout small primary">
  <div class="row  align-center text-center">
  <div class="small-8 medium-4 columns">
    <% if @user.photos.present? %>
      <div class="owl-carousel user-profile-gallery">
      <% @user.photos.each do |photo| %>
        <div class="item thumbnail">
        <%= image_tag photo.image.url(:medium) %>
        </div>
      <% end %>
      </div>          
    <% else %>
      <%= image_tag 'default_user.png' %>
    <% end %> 
  </div>
  </div>
  <div class="row text-center">
    <div class="column small-12 medium-4">
      <div data-behaviour="users__relation__actions" data-user-id="<%= @user.id %>">
        <div class="button-group expanded">
          <%= render 'users/partials/friendship_actions', user: @user %>
        </div>
      </div>             
      </div>
    <div class="column small-12 medium-4">
      <h2 class="subheader"><%= @user.name %></h5>
    </div>
    <div class="column small-12 medium-4"">
      <ul class="menu expanded">
      <li><%= fa_stacked_icon "trophy", base: "square-o 3x", text: "#{@user.achievments.count}" %></li>
      <li><%= fa_stacked_icon "map-marker", base: "square-o 3x", text: "#{@user.places.count}" %></li>
      <li><%= fa_stacked_icon "location-arrow", base: "square-o 3x", text: "#{@user.selected_routes.select{|route| route.completed?}.count}" %></li>

      </ul>
    </div>
  </div>
</div>

<% @user.articles.each do |article| %>
  <%= render article %>
<% end %>
