<div class="callout">
<div class="row">
  <div class="small-12 medium-4 large-5 columns">
  <p>Rinkitės vietas iš sąrašų.<br> Po to jas surušiuokite pagal norimą eiliškumą</p><hr>
    <%= render 'trip_routes/partials/route_plan_table' %>
  </div>
  <div class="small-12 medium-8 large-7 columns">
    <%= form_for(trip_route, data: {behaviour: 'trip-form'}) do |f| %>
      <%= f.label :name, 'Pavadinimas' %>
      <%= f.text_field :name %>
      <%= hidden_field_tag :places %>
      <%= f.hidden_field :distance, class: :distance %>
      <%= f.hidden_field :duration, class: :duration %>
      <%= link_to 'Pridėti maršrutą', '#', id: 'submit__button', class: 'button', 'data-turbolinks': false %>
    <% end %>
    <div id="new_trip_route_map" class="map-canvas"></div>
    <div class="row">
      <div class="small-4 columns">
        <p><span id="total_distance" class="distance">0</span> km</p>
      </div>
      <div class="small-4 columns">
        <p><span id="total_duration" class="duration">0</span> min</p>
      </div>
    </div>
  </div>
</div>
</div>
