<div class="row columns">
  <div class="callout">
    <div class="row">
      <div class="small-12 medium-8 columns">
        <h3><%= @trip_route.name %></h3>
      </div>
      <div class="small-12 medium-2 columns">
        <%= link_to 'Keliauti', take_trip_path(@trip_route), id: 'take_this_route', class: :button  %> 
      </div>
      <div class="small-12 medium-2 columns">
        <%= link_to 'Peržiūrėti visus maršrutus', trip_routes_path, class: :button %>
      </div>
    </div>
  </div>
</div>
<div id="show_trip_route_map"></div>
<div class="row columns">
  <div class="owl-carousel owl-theme" id="trip-route-places-owl" >
    <% @trip_route.places_ordered.each_with_index do |place, index| %>
    <div>
      <%= image_tag place.photos.first.image.url(:medium) %>
      <figcaption class="orbit-caption">
        <%= link_to place.name.split(' ').first(2).join(' '), place_path(place) %>
      </figcaption>
    </div>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="columns">
    <div data-behaviour="new__post">
      <%= render('articles/partials/new_article',
        article: @article,
        article_type: ArticleType::TRIP_ROUTE,
        param: {trip_route_id: @trip_route.id}
      ) %>
    </div>
  </div>
</div>


  <div class="callout">
    <div data-behaviour="articles-list">
    <% unless @articles.blank? %>
      <% @articles.each_with_index do |article, index| %> 
        <%= render article %>
      <% end %>
    <% end %>
    </div>
  </div>
