<br><div id="show_trip_route_map"></div>
<div class="row">
  <div class="columns">
    <div class="callout">
      <h3><%= @route.trip_route.name %></h3>
      <% if @route.completed? %>
        <h3>Maršrutas įveiktas</h3>
      <% end %>
      <div data-behaviour="trip-route-places" data-trip-route-id="<%= @route.id %>">
        <table>
          <% @route.trip_route_places.each_with_index do |place, index| %>
              <tr>
                <td><%= "#{index + 1}" %></td>
                <td><%= image_tag place.photos.first.image.url(:medium), class: 'place thumbnail' %></td>
                <td><%= place.name.split(' ').first(2).join(' ') %></td>
                <% unless @route.completed? %>
                  <td>
                    <div class="tiny reveal" id="place-modal<%= place.id %>" data-reveal>
                      <%= render partial: 'trip_routes/partials/selected_route_place_reveal', locals: {place: place, visited: place.visited, selected_route_id: @route.id, completed: @route.completed? } %>
                    </div>
                    <%= render partial: 'trip_routes/partials/visited_button', locals: {place: place, visited: place.visited} %>
                  </td>
                <% end %>
              </tr>
          <% end %>
        </table>
      </div>
      <%= link_to 'Back', trip_routes_path %>
    </div>
  </div>
</div>
