<div class="row columns">
    <div class="callout">
      <br><div class="row">
        <div class="small-12 medium-8 columns"><h1>Mano maršrutai</h1></div>
        <div class="small-12 medium-2 columns"><%= link_to 'Visi maršrutai', trip_routes_path, class: :button %></div>
        <div class="small-12 medium-2 columns"><%= link_to 'Pridėti maršrutą', new_trip_route_path, class: :button %></div>
      </div>

      <% unless @trip_routes.empty? %>
        <h4>Pasirinkti maršrutai</h4>
        <div class="row">
          <% @user_selected_routes.each do |trip_route| %>
            <div class="small-8 small-offset-2 medium-offset-0 large-offset-0  medium-4 large-3">
              <%= render 'trip_routes/partials/route_card', trip_route: trip_route %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% unless @user_selected_routes.empty? %>
        <h4>Sukurti maršrutai</h4>
        <div class="row">
          <% @trip_routes.each do |trip_route| %>
            <div class="small-8 small-offset-2 medium-offset-0 large-offset-0  medium-4 large-3">
              <%= render 'trip_routes/partials/route_card', trip_route: trip_route, editable: true %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if (@user_selected_routes + @trip_routes).empty? %>
        <div class="callout">
          <h4>Tuščia</h4>
        </div>
      <% end %>

    </div>
  </div>
</div>