<div class="chatroom-content"
    data-behavior="messages"
    data-chatroom-id="<%= chatroom.id %>">
  <ul>
    <% chatroom.messages.each do |message| %>
      <li><%= render message %></li>
    <% end %>
  </ul>
  <%= form_for [chatroom, Message.new] do |f| %>
    <%= f.text_area :body, row: 1 %>
  <% end %>
</div>