<% if user_signed_in? %>    
  <div data-behaviour="chatrooms__tabs__container">
<!--     <%# current_user.chatrooms.each do |chatroom| %>
      <%# render 'chatrooms/partials/chatroom_tab', chatroom: chatroom %>
    <%# end %>  -->
  </div>
<% end %>