<div class="reveal tiny chatroom-reveal"
  id="chatroom-reveal<%= chatroom.id %>"
  data-reveal
  data-behavior="messages"
  data-chatroom-id="<%= chatroom.id %>">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button> 
  <hr>
  <p>
    <ul>
      <% chatroom.messages.each do |message| %>
        <li><%= render message %></li>
      <% end %>
    </ul>
  </p>
  <%= form_for [chatroom, Message.new] do |f| %>
    <%= f.text_area :body, row: 1 %>
  <% end %>
</div>