<div id="<%= chatroom_tab_id %>container"> 
  <button class="button" type="button" data-toggle="<%= chatroom_tab_id %>">
    <%= chatroom.title + chatroom.messages.count.to_s %>  
  </button>
  <div class="dropdown-pane top chatroom__tab" id="<%= chatroom_tab_id %>" data-behavior="messages" data-chatroom-id="<%= chatroom.id %>" data-dropdown>
  <p>
    <ul>
      <% chatroom.messages.each do |message| %>
        <li><%= render message %></li>
      <% end %>
    </ul>
    </p>
    <%= form_for [chatroom, Message.new] do |f| %>
      <%= f.text_area :body, row: 1 %>
    <% end %>
  </div>
</div>