<div class="callout">
  <div class="row">
    <div class="small-12 column align-self-middle text-center">
      <h3><%= place.name %></h3>
        <% if place.photos.present? %>
          <div class="media-object-section middle">
            <div class="thumbnail">
              <%= image_tag place.photos.first.image.url(:panoram) %>
            </div>
          </div>
        <% end %>
      <p><%= place.description %></p>
      <div class="callout">
        <ul class="menu simple">
          <li><%= link_to 'Daugiau', place_path(place) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>