<div class="owl-carousel owl-theme" id="places__grid">
  <% places.each do |place| %>
    <div class="card" style="width: 99%; height: auto;">
      <div class="card-divider">
        <%= place.name.shorten(2) %>
      </div>       
      <div style="max-width: 280px;height: auto;">
      <% unless place.photos.blank? %>
        <%= image_tag place.photos.first.image.url %>
      <% else %>
        <%= image_tag 'default_place.png' %>
      <% end %>
      </div>
      <div class="card-section"><hr>
        <p><%= link_to 'Daugiau', place_path(place), class: 'button' %></p>
      </div>
    </div>
  <% end %>
</div>
