<div class="callout is-hidden" id="form-callout" data-toggler="is-hidden">
  <%= form_tag search_places_path, method: :get do %>
    <div class="row">
      <div class="small-12 medium-8 columns">
        <%= label_tag 'Pavadinimas' %>
        <%= text_field_tag :title_includes, '' %>
      </div>
      <div class="small-12 medium-4 columns">
        <%= label_tag 'Tipas' %>
        <%= select_tag :type, options_from_collection_for_select(PlaceType.all, "id", "name") %>
      </div>
    </div>


    <%= link_to 'Rodyti visas', places_path, class: :button %>
    <%= submit_tag 'Ieškoti', class: :button %>
  <% end %>
</div>

<p><a data-toggle="form-callout" class="button">Paieška</a></p>