<%= link_to('javascript:;',
    method: :post,
    remote: is_action_remote,
    class: 'button primary small',
    data: { 'action-id': 2 }
  ) do %>
  <%= fa_icon "user-plus", text: "Priimti" %>

  <% end %>

<%= link_to('javascript:;',
    method: :delete,
    remote: is_action_remote,
    class: 'button secondary small',
    data: { 'action-id': 3 }
  ) do %>
  <%= fa_icon "user-times", text: "Atmesti" %>
  <% end %>
