<%= link_to('javascript:;',
  method: :delete,
  remote: is_action_remote,
  class: 'button warning small',
  data: { 'action-id': 6 }
) do %>
  <%= fa_icon "user-times", text: "Atšaukti" %>
<% end %>
