<%= link_to('javascript:;',
    method: :delete,
    remote: is_action_remote,
    class: 'button alert small',
    data: { 'action-id': 4 }
  ) do %>
  <%= fa_icon "user-times", text: "Pašalinti" %>
  <% end %>
 