<% if current_user.has_friend_request_from?(user) %>
  <%= render 'users/partials/accept_or_cancel_got_friends_request', user: user, is_action_remote: true %>
<% elsif current_user.sent_friend_request_for?(user) %>
  <%= render 'users/partials/cancel_send_friends_request', user: user, is_action_remote: true %>
<% elsif current_user.friend?(user) %>
  <%= render 'users/partials/start_conversation_with_user', user: user, is_action_remote: true, chatroom: current_user.get_chatroom_with(user) %>
  <%= render 'users/partials/delete_friends_relation', user: user, is_action_remote: true %>
<% else %>
  <%= render 'users/partials/sent_friends_request', user: user, is_action_remote: true %>
<% end %>