<%= link_to('javascript:;',
    method: :post,
    remote: is_action_remote,
    class: 'button primary small',
    data: { 'action-id': 1 }
  ) do %>
  <%= fa_icon "user-plus", text: "Kviesti" %>
  <% end %>
