<%= render 'chatrooms/partials/chatroom_reveal', chatroom: chatroom %>
<%= link_to('javascript:;',
    method: :post,
    class: 'button primary small',
    data: {
     'action-id': 5,
     open: "chatroom-reveal#{chatroom.id}"
    }
  ) do %>
  <%= fa_icon "comments", text: "Rašyti" %>

<% end %>
