<div class="card">
  <div class="card-divider">
    <%= link_to user.name, user_path(user) %>
  </div>
  <%= link_to user_path(user), class: 'thumbnail' do %>
    <% if user.photos.present? %>
      <% if main_photo_gallery %>
        <div class="owl-carousel user-profile-gallery">
          <% user.photos.each do |photo| %>
            <div class="item">
            <%= image_tag photo.image.url(:medium) %>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= image_tag user.photos.first.image.url(:medium) %>
      <% end %>    
    <% else %>
      <%= image_tag 'default_user.png' %>
    <% end %>           
  <% end %>
  <div class="card-section">
    <div data-behaviour="users__relation__actions" data-user-id="<%= user.id %>">
      <div class="button-group expanded">
        <%= render 'users/partials/friendship_actions', user: user %>
      </div>
    </div>          
 </div>
</div>