<div class="user-view">
  <div class="collapse row" data-equalizer>
    <div class="small-3 columns">
      <div data-equalizer-watch>
        <%= link_to my_path, class: 'expanded button profile' do %>
        <% if current_user.photos.present? %>
          <%= image_tag current_user.photos.first.image.url %>
        <% else %>
          <%= image_tag 'default_user.png' %>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="small-6 columns">
      <div data-equalizer-watch>
        <%= link_to "Redaguoti", edit_user_registration_path, class: 'expanded button', data: {'equalizer-watch': ''}  %>
      </div>
    </div>
    <div class="small-3 columns">
      <div data-equalizer-watch>
        <%= link_to destroy_user_session_path, method: :delete, class: 'expanded button log-out', data: {'equalizer-watch': ''}  do %>
          <i class="fi-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
