<div class="row align-middle align-center" style="height: 95vh;">
  <div class="small-12 medium-8 columns">
    <div class="callout">
      <h2>Prisijungti</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, 'El. paštas' %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password, 'Slaptažodis' %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, 'Prisiminti?' %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Prisijungti", class: :button %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
