<div class="columns row">
<div class="callout">
<h3>
Tavo nuotraukos
</h3>
<% if current_user.photos.present? %>
  <div class="row">
    <% current_user.photos.each do |photo| %>
      <div class="small-12 medium-4 large-3 columns" data-behaviour="photo-wrapper">
        <%= image_tag photo.image.url(:medium) %>
        <%= link_to 'Pašalinti', 'javascript:;', class: 'small button', data: { behaviour: 'remove-photo', 'photo-id': photo.id } %>
      </div>
    <% end %>
  </div>
<% end %>

<br><hr><br>
<h3>Įkelk dar<small> (Iki 3 nuotraukų)</small></h3>
<%= form_for([current_user, @photo], html: { multipart: true, class: ""}) do |f|  %>
  <div class="fallback">
    <%= f.file_field :image %><br>
    <%= f.submit "Upload" %>
  </div>
<% end %>
</div>
</div>