/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's 
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@font-face {
  font-family: 'FontAwesome';
  src: url(font-path('fontawesome-webfont.eot'));
  src: url(font-path('fontawesome-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('fontawesome-webfont.woff')) format('woff'),
         url(font-path('fontawesome-webfont.woff2')) format('woff2'),
         url(font-path('fontawesome-webfont.ttf')) format('truetype'),
         url(font-path('fontawesome-webfont.svg#fontawesomeregular')) format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "foundation-sites/assets/foundation-flex";
@import "motion-ui/motion-ui";
@import 'foundation-icons';
@import "font-awesome";
@import "owl-carousel2/dist/assets/owl.carousel.min";
@import "dropzone/dist/min/dropzone.min";
@import "users";
@import "chatrooms";
@import "places";
@import "trip_routes";

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
html, body { background-color: #E2E3DE; }
p { word-break: break-all }

i.large { font-size: 3em; }
i.medium { font-size: 2em; }
i.small { font-size: 1em; }
