#place-map, #place_map {
  height: 330px;
  width: 100%;
  padding-top: 20px;
}

#map {
  height: 350px;
  width: 100%;
}

.place.thumbnail {
  height: 50px;
}

#places__grid {
  .card {
    height: 200px;
  }
}
