<div class="row columns">
<div class="callout">
<br><h4>Pridėti lankytiną vietą</h4>
<input id="pac-input"  type="text" placeholder="Paieška žemėlapyje">
<p>(Arba pasirinkite tašką iš žemėlapio)</p>
<div class="" id="place_map"></div>
<%= form_for(place, data: {behaviour: :place}) do |f| %>
  <div class="row">
    <div class="small-12 medium-7">
      <%= f.label :name, 'Pavadinimas' %>
      <%= f.text_field :name %>
    </div>
    <div class="small-12 medium-5">
      <%= f.label :place_type_id, 'Vietos tipas' %>
      <%= f.select :place_type_id, options_from_collection_for_select(@place_types, "id", "name") %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-8">
      <%= f.text_area :description, rows: 2, placeholder: 'Aprašymas' %>
    </div>
    <div class="small-12 medium-offset-2 medium-2">
      <%= f.submit "Pridėti", class: :button %>
    </div>
  
  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :latitude %>  
  
<% end %>
</div>
</div>