<div class="row columns">
  <div class="callout">
<br><div class="row">
  <div class="small-12 medium-6"><h3>Lankytinos vietos</h3></div>
  <div class="small-12 medium-2"><%= link_to 'Mano vietos', user_places_path, class: 'small button' %></div>
  <div class="small-12 medium-4"><%= link_to 'Pridėti lankytiną vietą', new_place_path, class: 'small button' %></div>
</div>
</div>
</div>
<div class="row columns">
  <div class="callout">
<div class="row">
  <div class="small-12 columns">
    <div id="map"></div>
  </div>
</div>

<br>
<%= render 'places/partials/search_form' %>

</div>
</div>
<div class="row columns">
<div class="callout">
<% places.each do |place| %>
  <%= render 'places/partials/place_callout', place: place %>
<% end %>
<%= paginate places %>
<%= page_entries_info places %>
</div> 
</div>