<div class="callout">
<div class="row">
  <div class="small-12 column align-self-middle">
    <h3><%= @place.name %></h3>
    <% if @place.photos.present? %>
        <div class="owl-carousel places-photos">
        <% @place.photos.each do |photo| %>
          <div>
            <%= image_tag photo.image.url(:panoram) %>
          </div>
        <% end %>          
        </div>
    <% end %>
    <br><hr>
    <div id="place-map"></div>
    <p><%= @place.description %></p>
    <div class="callout">
      <ul class="menu simple">
        <li><%= link_to "Autorius: #{@place.user.name}", '#' %></li>
      </ul>
    </div>
  </div>
</div>