<br><div class="row">
  <div class="small-12 medium-8"><h1>Mano vietos</h1></div>
  <div class="small-12 medium-2"><%= link_to 'Visos vietos', places_path, class: :button %></div>
  <div class="small-12 medium-2"><%= link_to 'Pridėti lankytiną vietą', new_place_path, class: :button %></div>
</div>

<div class="callout">
  <% @places.each do |place| %>
    <div class="callout">
  <div class="row">
    <div class="small-12 column align-self-middle text-center">
      <h3><%= place.name %></h3>
        <% if place.photos.present? %>
          <div class="media-object-section middle">
            <div class="thumbnail">
              <%= image_tag place.photos.first.image.url(:panoram) %>
            </div>
          </div>
        <% end %>
      <p><%= place.description %></p>
      <div class="callout">
        <ul class="menu simple">
          <li><%= link_to 'Daugiau', place_path(place) %></li>
          <li><%= link_to 'Redaguoti', edit_place_path(place) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>