<%= render 'users/partials/user_zone' %>

<ul class="menu vertical">
  <li><%= link_to 'Žmonės', people_path, class: 'medium expanded button' %></li>
  <li><%= link_to 'Vietos', places_path, class: 'medium expanded button' %></li>
  <li><%= link_to 'Maršrutai', trip_routes_path, class: 'medium expanded button' %></li>
  <li><%= link_to 'Susirašinėjimai', chatrooms_path, class: 'medium expanded button' %></li>
  <li><%= link_to 'Blogas', articles_path, class: 'medium expanded button' %></li>
</ul>