<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>Turizmo maršrutai</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation Starter Template</title>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrNFyXvFDHGrK6NGW6s5lRaUDQzxUlWW8&libraries=places&language=lt&region=LT" data-turbolinks-eval="false"></script>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="title-bar" style="height: 5vh; background-color: lightblue;">
        <div class="title-bar-left">
          <%= link_to 'Turizmo maršrutai', root_path %>
        </div>
        <% if user_signed_in? %>
          <div class="title-bar-right">
            <span class="title-bar-title">Meniu</span>
            <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
          </div>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="off-canvas position-right reveal-for-large"
          id="offCanvasRight"
          data-off-canvas
          data-transition="overlap"
          data-position="right">
          <%= render 'layouts/main_menu' %>
        </div>
      <% end %>
      <div class="off-canvas-content" data-off-canvas-content>
        <%= render 'layouts/header' %>
        <%= yield %>
        <%= render 'layouts/footer' %> 
      </div>
    </div>
    </div>
  </body>
</html>